<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Iniciar Sesión</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" th:href="@{/resources/css/loginestilos.css}">

</head>

<body>
	<!-- partial:index.partial.html -->

	<body>

		<div class="container">
			<div class="backbox">
				<div class="loginMsg">
					<div class="textcontent">
						<p class="title">Regístrate</p>
						<p>*******</p>
						<button id="switch1">Crear cuenta</button>
					</div>
				</div>
				<div class="signupMsg visibility">
					<div class="textcontent">
						<p class="title">¿Tienes una cuenta?</p>
						<p>**********</p>
						<button id="switch2">Iniciar Sesión</button>
					</div>
				</div>
			</div>
			<!-- backbox -->

			<div class="frontbox">
				<div class="login">
					<h2>Iniciar Sesión</h2>
					<div class="inputbox">
						<input type="text" name="email" placeholder=" Correo ">
						<input type="password" name="password" placeholder="  Contraseña">
					</div>
					<p>¿Olvidaste tu contraseña?</p>
					<a href="admin.html"><button>Iniciar Sesión</button></a>

				</div>

				<div class="signup hide">
					<h2>Regístrate</h2>
					<div class="inputbox">
						<input type="text" name="fullname" placeholder="  Nombres y Apellidos">
						<input type="text" name="email" placeholder="  Correo">
						<input type="password" name="password" placeholder="  Contraseña">
					</div>
					<button>Crear cuenta</button>
				</div>

			</div>
			<!-- frontbox -->
		</div>
	</body>

</html>
<!-- partial -->
<script th:href="@{/resources/js/loginscript.js}"></script>
</body>

</html>