<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:fragment="head">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
		integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/registrardepartamento.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/registrarformulario.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/resources/css/tablas.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
	<!--<link rel="stylesheet" type="text/css" th:href="@{/resources/css/visita.css}">-->
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.css}">
	<link rel="stylesheet" th:href="@{/resources/alertifyjs/css/alertify.min.css}">


</head>

<body id="page-top">

	<th:block th:fragment="header">

		<header class="page-header">
			<nav>
				<a href="#" class="logo">
					<img src="https://uploads-ssl.webflow.com/5dc1853887ad3ecba18bb835/5f5a2d0c1534bf5513c3dd98_Corporation.png"
						height="130" alt="">
				</a>
				<button class="toggle-mob-menu" aria-expanded="false" aria-label="open menu">
					<svg width="20" height="20" aria-hidden="true">
						<use xlink:href="#down"></use>
					</svg>
				</button>
				<ul class="admin-menu">
					<li th:each="bean : ${session.menus}">
						<span th:href="${bean.ruta}"></span>
						<a th:href="${bean.ruta}">
							<i th:class="${bean.icon}" style="max-height: 15px;"></i>
							<span th:text="${bean.descripcion}"></span>
						</a>
					</li>

					<li>
						<div class="switch">
							<input type="checkbox" id="mode" checked>
							<label for="mode">
								<span></span>
								<span>Oscuro</span>
							</label>
						</div>
						<button class="collapse-btn" aria-expanded="true" aria-label="collapse menu">
							<i class="fa-solid fa-angle-left"></i>
							<span>Contraer</span>
						</button>
					</li>
				</ul>
			</nav>
		</header>
		<section class="page-content">
			<section class="search-and-user">
				<form>
					<input type="hidden" placeholder="">
					<button type="submit" aria-label="submit form">
						<svg aria-hidden="true">
							<use xlink:href="#search"></use>
						</svg>
					</button>
				</form>
				<div class="admin-profile" th:each="bean : ${session.usuario}">
					<span class="greeting" th:text="${bean.nomUsuario}"></span>
					<i class="fa-solid fa-circle-user"></i>




					<div class="notifications">


						<svg>
							<use xlink:href="#users"></use>
						</svg>
					</div>
					<form class="form-inline my-2 my-lg-0" method="post" th:action="@{/logout}">
						<input type="submit" class="form-control mr-sm-2 btn-danger" value="Cerrar sesion">
					</form>
				</div>
			</section>

	</th:block>
	<th:block th:fragment="footer">




		<script src="https://code.jquery.com/jquery-3.6.0.js"
			integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
			integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
			crossorigin="anonymous"></script>
		<script th:src="@{/resources/js/adminjs.js}"></script>
		<script th:src="@{/resources/js/main.js}"></script>
		<script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
		<script th:src="@{/resources/js/validarUsuario.js}"></script>
		<script th:src="@{/resources/js/visita.js}"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
			integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
			crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
		<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
		<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>
	</th:block>



</body>

</html>