<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="menu.html :: head">
	<meta charset="UTF-8">
	<title>Pago de Servicios</title>
</head>

<style>
	.modal-header,
	h4,
	.close {
		background-color: #286090;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}

	.help-block {
		color: red;
		/*display: none;*/
	}

	.form-group.has-error .form-control-label {
		color: red;
	}

	.form-group.has-error .form-control {
		border: 1px solid red;
		box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
	}

	.alertify .ajs-dialog {
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
	}

	.ajs-header {
		background-color: #286090 !important;
		color: white !important;
		/*text-align: center;*/
		font-size: 18px;
		font-weight: bold;
	}

	.ajs-ok {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}

	.ajs-cancel {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}

	.btn-primary {
		background-color: #286090 !important;
	}

	.dataTables_length,
	.dataTables_info {
		display: none;
	}

	.modal-lg,
	.modal-xl {
		max-width: 900px;
		max-height: 800px;
	}

	.form-control-feedback2 {
		margin: 1px;
		position: absolute;
		padding: 10px;
		pointer-events: none;
		background-color: #e9ecef;
		border-style: none;
	}

	.form-control-feedback3 {
		margin: 1px;
		position: absolute;
		margin-left: 225px;
		padding: 10px;
		pointer-events: none;
		background-color: #e9ecef;
		border-style: none;
	}

	.form-control {
		padding-left: 40px !important;
	}
</style>

<body>

	<th:block th:replace="menu.html :: header">
	</th:block>
	<div class="container">
		<section class="grid">
			<article>
				<div style="min-width: 1070px;" class="contact_form">

					<div class="formulario">

						<h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Generar Boleta
						</h1>


						<form th:action="@{/rest/pagosServicios/registrar}" onsubmit="return validarUsuario()">
							<div class="form-row ">
								<div class="form-group col-md-5">
									<label for=""><b>Tipo de boleta</b></label><br>
									<i class="fas fa-user-plus form-control-feedback2"></i>
									<select class="form-control" name="tipoBoleta">
										<option value="">[Seleccione un tipo de boleta]</option>
										<option value="Bo">Boleta</option>
										<option value="Fa">Factura</option>
									</select>
									<div class="invalid-feedback">
										Seleccione Tipo de Cliente
									</div>
								</div>
								<div class="form-group col-md-5">
									<label for="nombre"><b>Servicio</b></label><br>
									<i class="fas fa-file-signature form-control-feedback2"></i>
									<select class="form-control combobox" name="servicio" id="idServicio" required="">
										<option selected disabled value="">[Seleccione un tipo de servicio]
										</option>
										<option th:each="bean:${cboServicios}" th:value="${bean.idServicios}"
											th:text="${bean.tipodeServicio}"></option>
									</select>
								</div>

								<div class="form-group col-md-5">
									<label for="departamento"><b>Departamento</b></label><br>
									<i class="fa-regular fa-building form-control-feedback2"></i>
									<select class="form-control combobox" name="departamento" id="idDepartamento" required="">
										<option selected disabled value="">[Seleccione departamento]</option>
										<option th:each="bean:${cboDepartamento}" th:value="${bean.idDepartamento}"
											th:text="${bean.nroDepartamento}">
										</option>
									</select>
									<div class="invalid-feedback">
										Please select a valid state.
									</div>

								</div>
								<div class="form-group has-feedback col-md-5">
									<label for="exampleInputEmail1"><b>Fecha de Ingreso</b></label><br>
									<i class="fas fa-calendar-alt form-control-feedback2"></i>
									<input type="number" class="form-control" name="datepicker" id="datepicker" />
								</div>
								<div class="form-group has-feedback col-md-5">
									<label for="exampleInputEmail1"><b>Monto</b></label><br>
									<i class="fas fa-calendar-alt form-control-feedback2"></i>
									<input type="number" class="form-control" name="monto" id="idMonto" />
								</div>
							</div>
							<p th:each="bean : ${session.usuario}">
								<input type="hidden" name="usuario" th:value="${bean.idUsuario}" readonly>
							</p>
							<div class="text-center">
								<button type="submit" class="btn btn-primary consultar">Generar</button>
							</div>


						</form>
					</div>
				</div>
			</article>
			
			<div class="limiter">
				<div class="container-table100">
					<h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Listado de
						Visitas|Salidas</h1>

					<div class="wrap-table100">
						<div class="table100">
							<table id="tablaconsultVisita">
								<thead>
									<tr class="table100-head">
										<th class="column8">Tipo de boleta</th>
										<th class="column8">Nro departamento</th>
										<th class="column8">Mes</th>
										<th class="column8">Fecha Pago</th>
										<th class="column8">Servicios</th>
										<th class="column8">Usuario</th>
										<th class="column3">Monto</th>
										<th class="column1"></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="bean:${tablaDocuementoTributario}">
										<td class="column8" th:text="${bean.iniciales}"></td>
										<td class="column3" th:text="${bean.departamento.nroDepartamento}"></td>
										<td class="column1" th:text="${bean.mes}"></td>
										<td class="column8" th:text="${bean.fechaPago}"></td>
										<td class="column8" th:text="${bean.servicios.tipodeServicio}"></td>
										<td class="column3" th:text="${bean.usuario.nomUsuario}"></td>
										<td class="column3" th:text="${bean.monto}"></td>										
										<td></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

			<div class="modal fade" id="modalActualizarControlVisitante" data-backdrop="static" data-keyboard="false"
				tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="staticBackdropLabel">Actualizar Fecha de Salida de Visitante
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<form th:action="@{/rest/consulta/actualizarFechaSalida}">
								<input type="hidden" name="codigo" id="idcodigo" readonly>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label>Fecha de salida</label>
										<i class="fas fa-door-open form-control-feedback2"></i>
										<input type="datetime-local" class="form-control" name="fechaSalida" id="minor2"
											readonly>
									</div>
									<div class="form-group col-md-6">
										<label>Deje un Comentario Aquí ↓</label>
										<textarea type="datetime-local" class=" form-control" name="comentario"
											style="width: 400px; height: 250px;"></textarea>
									</div>
								</div>
								<p th:each="bean : ${session.usuario}">
									<input type="hidden" name="usuario" th:value="${bean.idUsuario}" readonly>
								</p>
								<div class="text-center">
									<div class="modal-footer">
										<button type="submit" class="btn btn-primary">Registrar</button>
									</div>
								</div>
							</form>


						</div>


					</div>
				</div>
			</div>


		</section>
	</div>
	<th:block th:replace="menu.html :: footer">
	</th:block>
	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje =/*[[${MENSAJE}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'success',
			title: mensaje
		})

	</script>

	<script>
		$(document).ready(function () {
			$("#datepicker").datepicker({
				format: "yyyy",
				viewMode: "years",
				minViewMode: "years",
				autoclose: true
			});
		});

		$(document).on("click", ".consultar", function () {
			let visita, cliente, estado;
			visita = $("#idVisitante").val();
			cliente = $("#idCliente").val();
			estado = $("#idEstado").val();;
			$.get("consultaVisitante?visita=" + visita + "&cliente=" + cliente + "&estado=" + estado, function (response) {
				$("#tablaconsultVisita tbody").empty();
				$.each(response, function (index, item) {

					$("#tablaconsultVisita").append("<tr><td class='column1'>" + item.idVisita + "</td><td class='column8'>" + item.visitante.nombres + ' ' + item.visitante.apellidos + "</td><td class='column8'>" + item.horaIngreso + "</td><td class='column8' >" +
						item.horaSalida + "</td><td class='column8'>" + item.cliente.nombres + ' ' + item.cliente.apellidos + "</td><td class='column8'>" + item.comentario + "</td><td class='column3'>" +
						item.estado.nomEstado + "</td><td class='column1'><a  type='button' class='btn acutalizar' data-toggle='modal' data-target='#modalActualizarControlVisitante'><i class='fa-solid fa-pen-to-square'></i></a></td></tr>");
				})
			})
		});

		$(document).on("click", ".acutalizar", function () {
			let cod;
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?codigo=" + cod, function (response) {
				console.log(response);
				$("#idcodigo").val(response.idVisita);
			})
		});



	</script>
</body>


</html>