<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="menu.html :: head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Principal</title>
</head>
<body class="page-top">
	
	<th:block th:replace="menu.html :: header">
	</th:block>
	<br><br><br>
	<div class="row">
				<div class="col-md-12">
					<div class="titlepage text-center">
						<h1>Sistema Departamento</h1>
						<br>
					</div>
				</div>
			</div>
	<!-- our -->
	<div id="games" class="our">
		<div class="container">
			
			<div class="row">
				<div class="col-md-12 margin_bottom">
					<div class="row">

						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									<img th:src="@{/resources/images/1.jpg}"
										style="width: 335px; height: 290px;" alt="#" />
								</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<div class="Games">
								<h2>Nosotros</h2>
								<p style="text-align: justify;">
                   Creemos firmemente que nuestro gran potencial no radica en lo que hacemos
                   o vendemos, nuestro principal compromiso es la razón por
                   la que hacemos lo que hacemos. La Creatividad, como motor principal de cada una de nuestras propuestas con la finalidad de desarrollar productos inmobiliarios que funcional y estéticamente cumplan con las necesidades de desarrollo de nuestros clientes.
                   La Empatía, como el conector esencial y vital para generar experiencias positivas en cada uno de nuestros clientes y colaboradores. Partimos de una sinergia interna, donde la creatividad y la empatía</p>
								<a
									href="https://www.gob.pe/institucion/pcm/campa%C3%B1as/3451-campana-nacional-de-vacunacion-contra-la-covid-19">Leer
									mas..</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12 margin_bottom">
					<div class="row">

						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									<img th:src="@{/resources/images/2.jpg}"
										style="width: 335px; height: 290px;" alt="#" />
								</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<div class="Games">
								<h2>Misión</h2>
								<p style="text-align: justify;">Ofrecer productos y servicios de excelencia, entregando soluciones 
								innovadoras a nuestros clientes 
								gracias a un óptimo ambiente de trabajo donde se fomente los valores humanos.</p>
								<a
									href="http://www.muniica.gob.pe/2021/04/20/municipalidad-de-ica-inicio-con-el-asfaltado-de-la-obra-pista-y-veredas/"
									target="blank">Leer mas..</a>
							</div>
							<br>
							<br>
							<div class="Games">
								<h2>Visión</h2>
								<p style="text-align: justify;">Ser la mejor empresa inmobiliaria en el Perú para sus clientes, colaboradores e inversionistas, siendo además reconocida por el respeto al medio ambiente y al entorno de los proyectos que desarrolla.</p>
								<a
									href="http://www.muniica.gob.pe/2021/04/20/municipalidad-de-ica-inicio-con-el-asfaltado-de-la-obra-pista-y-veredas/"
									target="blank">Leer mas..</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-12">
					<div class="row">
						<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
							<div class="two-box">
								<figure>
									
																		</figure>
							</div>
						</div>

						<div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">

							<!--<div class="Games">
								<h3>Juntos contra la Covid-19</h3>
								<p style="text-align: justify;">Lorem ipsum dolor sit
									amet, consectetur adipiscing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua. Ut enim ad minim
									veniam, quis nostrud exercitation ullamco laboris nisi Lorem
									ipsum dolor sit amet, consectetur adipiscing elit, sed do
									eiusmod tempor incididunt ut labore et</p>
								<a href="https://es.wikipedia.org/wiki/COVID-19"
									target="target_blank">leer mas..</a>
							</div>-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br>
	</div>

	<th:block th:replace="menu.html :: footer">
	</th:block>
</body>
</html>