<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="menu.html :: head">
	<meta charset="UTF-8">
	<title>Usuario</title>
</head>


</head>


<style>

	
	.alertify .ajs-dialog {
	    top: 50%;
	    transform: translateY(-50%);
	    margin: auto;
	}
	
	.ajs-header{
		background-color: #286090 !important;
		color: white !important;
		/*text-align: center;*/
		font-size: 18px;
		font-weight: bold;
	}
	.ajs-ok{
		color: #fff;
	    background-color: #007bff;
	    border-color: #007bff;
	}
	.ajs-cancel{
		color: #fff;
	    background-color: #dc3545;
	    border-color: #dc3545;
	}
	.btn-primary{
	background-color: #286090 !important;
	}
	.dataTables_length, .dataTables_info{
		display: none;
	}
	.modal-lg, .modal-xl {
		max-width: 900px;
		max-height: 800px;
	}
	
	.form-control-feedback2 {
	  margin:1px;
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control-feedback3 {
	  margin:1px;
	  position: absolute;
	  margin-left:225px;
	  padding: 10px;
	  pointer-events: none;
	  background-color: #e9ecef;
	  border-style: none;
	}
	.form-control {
	  padding-left: 40px!important;
	}
</style> 
<body>
	
	<th:block th:replace="menu.html :: header">
	</th:block>
	
		<section class="grid">
			<article>
				<div class="contact_form">

					<div class="formulario">

						<h1 style="text-align: center;">Registro Usuario</h1>

						
						<form th:action="@{/rest/usuario/registrar}" onsubmit="return validarUsuario()">


							<input class="registro1" type="hidden" value="0" name="codigo" id="idcodigo">

							<p>

								<label for="nomUsuario">Nombre de usuario
									<span class="obligatorio">*</span>
								</label>
								<input class="registro1" type="text" name="nomUsuario" id="idNomusuario"
									placeholder="Escribe tu Username">
							</p>

							<p>
								<label for="nombres">Nombres
									<span class="obligatorio">*</span>
								</label>
								<input class="registro1" type="text" name="nombres" id="idNombres"
									placeholder="Escribe tus Nombres">

							</p>

							<p>
								<label for="apellidos" class="colocar_apellidos">Apellido Paterno

									<span class="obligatorio">*</span>

								</label>
								<input class="registro1" type="text" name="apePaterno" id="idapePaterno"
									placeholder="Escribe tu apellido paterno">

							</p>
							<p>
								<label for="apellidos" class="colocar_apellidos">Apellido Materno
									<span class="obligatorio">*</span>

								</label>
								<input class="registro1" type="text" name="apeMaterno" id="idapeMaterno"
									placeholder="Escribe tu apellido Materno">

							</p>


							<p>
								<label for="cuentaUsuario" class="colocar_correo">Cuenta de Usuario
									<span class="obligatorio">*</span>
								</label>
								<input class="registro1" type="email" name="cuentaUsuario" id="idCuentausuario"
									placeholder="Escribe tu correo">

							</p>

							<p>
								<label for="password" class="colocar_celular">Contraseña
									<span class="obligatorio">*</span>
								</label>
								<input class="registro1" type="password" name="password" id="idPassword"
									placeholder="Escribe tu contraseña">
							</p>

							<p>
								<label for="telefono">Telefono
									<span class="obligatorio">*</span>
								</label>
								<input class="registro1" type="number" name="telefono" id="idTelefono"
									placeholder="Escribe tu Celular">
							</p>

							<div>
								<label for="rol">Rol <span class="obligatorio">*</span></label>
								<select name="rol" class="registro1">
									<option value="-1">Seleccione un Rol</option>
									<option th:each="bean:${rol}" th:value="${bean.idRol}"
										th:utext="${bean.descripcion}"></option>
								</select>
							</div>


							<button class="botones1" type="submit" name="enviar_formulario" id="registrar">
								<p>Registrar</p>
							</button>

							<p class="aviso">
								<span class="obligatorio"> * </span>los campos son obligatorios.
							</p>

						</form>
					</div>
				</div>
			</article>


			<div class="limiter">
				<div class="container-table100">
					<h1 style="text-align: center;">Lista de Usuario</h1>

					<div class="wrap-table100">
						<div class="table100">
							<table>
								<thead>
									<tr class="table100-head">
										<th class="column1">Codigo</th>
										<th class="column2">Nombres</th>
										<th class="column3">Paterno</th>
										<th class="column4">Materno</th>
										<th class="column5">Correo</th>
										<th class="column6">Telefono</th>
										<th class="column7">Rol</th>
										<th class="column8">Fecha de Registro</th>
										<th class="column1"></th>
									</tr>
								</thead>
								<tbody>

									<tr th:each="bean:${listaUsuario}" class="text-center">
										<td class="column1" th:text="${bean.idUsuario}"></td>
										<td class="column2" th:text="${bean.nombres}"></td>
										<td class="column3" th:text="${bean.apePaterno}"></td>
										<td class="column4" th:text="${bean.apeMaterno}"></td>
										<td class="column5" th:text="${bean.cuentaUsuario}"></td>
										<td class="column6" th:text="${bean.telefono}"></td>
										<td class="column7" th:text="${bean.rol.descripcion}"></td>
										<td class="column8" th:text="${bean.fechaRegistro}"></td>
										<td class="column1"><a class="btn-eliminar"><i
													class="fa-solid fa-trash-can"></i></a></td>
									</tr>

								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>



		</section>
		<footer class="page-footer">

		</footer>
	</section>
	<!-- partial -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script th:src="@{/resources/js/adminjs.js}"></script>
	<script th:src="@{/resources/js/main.js}"></script>
	
	<script th:src="@{/resources/js/validarUsuario.js}"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
		integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
		crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/resources/alertifyjs/alertify.js}"></script>
	<script th:src="@{/resources/alertifyjs/alertify.min.js}"></script>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje =/*[[${MENSAJE}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'success',
			title: mensaje
		})

	</script>

	<script th:inline="javascript" th:if="${existen!=null}">

		var exist =/*[[${existen}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'warning',
			title: exist
		})

	</script>
<!--	<script>
		$(document).on("click", "#idEditar", function () {
			let codigo;
			codigo = $(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?idUsuario=" + codigo, function (data) {
				$("#idcodigo").val(data.idUsuario);
				$("#idnombres").val(data.nombreCompleto);
				$("#idapellidos").val(data.apellidoCompleto);
				$("#idDni").val(data.dni);
				$("#idcelular").val(data.celular);
				$("#idcorreo").val(data.correo);
				//$("#idcampo").css("display", "none");
				$("#idRaza").val(data.raza);
				$("#iddescripcion").val(data.descripcionRaza);
			});
		});
	</script>-->

	<script>
		//btn-eliminar del modal
		$(document).on("click", ".btn-eliminar", function () {
			let cod;
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("SISTEMA GESTION DE EDIFICIO", "¿Esta seguro de eliminar?",
				function () {//SIIII

				},
				function () {//NOOOO
					window.location = "eliminar?codigo=" + cod;
				}).set('labels', {ok: 'Cancelar', cancel: 'Eliminar'});
		})

	</script>
</body>


</html>