<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="menu.html :: head">
	<meta charset="UTF-8">
	<title>Control visita</title>

</head>
<style>
	.modal-header,
	h4,
	.close {
		background-color: #286090;
		color: white !important;
		text-align: center;
		font-size: 20px;
	}

	.help-block {
		color: red;
		/*display: none;*/
	}

	.form-group.has-error .form-control-label {
		color: red;
	}

	.form-group.has-error .form-control {
		border: 1px solid red;
		box-shadow: 0 0 0 0.2rem rgba(250, 16, 0, 0.18);
	}

	.alertify .ajs-dialog {
		top: 50%;
		transform: translateY(-50%);
		margin: auto;
	}

	.ajs-header {
		background-color: #286090 !important;
		color: white !important;
		/*text-align: center;*/
		font-size: 18px;
		font-weight: bold;
	}

	.ajs-ok {
		color: #fff;
		background-color: #007bff;
		border-color: #007bff;
	}

	.ajs-cancel {
		color: #fff;
		background-color: #dc3545;
		border-color: #dc3545;
	}

	.btn-primary {
		background-color: #286090 !important;
	}

	.dataTables_length,
	.dataTables_info {
		display: none;
	}

	.modal-lg,
	.modal-xl {
		max-width: 900px;
		max-height: 800px;
	}

	.form-control-feedback2 {
		margin: 1px;
		position: absolute;
		padding: 10px;
		pointer-events: none;
		background-color: #e9ecef;
		border-style: none;
	}

	.form-control-feedback3 {
		margin: 1px;
		position: absolute;
		margin-left: 225px;
		padding: 10px;
		pointer-events: none;
		background-color: #e9ecef;
		border-style: none;
	}

	.form-control {
		padding-left: 40px !important;
	}

	/*.toast-succes{
		width: 120px;
	}*/
</style>

<body>
	<th:block th:replace="menu.html :: header">
	</th:block>

	<article>
		<div class="contact_form">

			<div class="formulario">

				<h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Registro de Ingreso de Visitas</h1>

				<form method="POST" onsubmit="return validarUsuario()"
					th:action="@{/rest/controlvisita/registrarControl}">
					<input type="hidden" id="idUsuario" name="codigo" value="0">
					<div class="container">
						<div class="row">

							<div class="form-group has-feedback col-md-6">
								<label for="exampleInputEmail1"><b>Documento de Identidad</b></label><br>
								<i class="fas fa-address-card form-control-feedback2"></i>
								<input class="form-control" type="text" name="documento" id="idDocumento"
							placeholder="Escribe tu DNI">
							</div>

							<div class="form-group has-feedback col-md-6">
								<label style="color:#fbfbfb" for="exampleInputEmail1"><b>Busque un DNI</b></label><br>
								<button type="button" id="idEditar" class="btn btn-dark"><i class="fas fa-save"></i>
									Buscar DNI</button>
								<button type="button" data-toggle="modal" data-target="#modalEditarvisita"
									class="btn btn-outline-dark">
									<i class="fas fa-bars"></i>
								</button>
							</div>

							<div class="form-group has-feedback col-md-6">
								<label for="exampleInputEmail1"><b>Visitante</b></label><br>
								<i class="fas fa-lock form-control-feedback2"></i>
								<input type="hidden" name="visitantes" id="codigVisitante" readonly>
								<input type="text" class="form-control" id="nomVisitante" placeholder="Nombre de Visitante" readonly>
							</div>

							<div class="form-group has-feedback col-md-6">
								<label for="exampleInputEmail1"><b>Fecha de Ingreso</b></label><br>
								<i class="fas fa-calendar-alt form-control-feedback2"></i>
								<input class="form-control" type="datetime-local" name="fechaIngreso" id="minor2" readonly>
							</div>

							<div class="form-group has-feedback col-md-6">
								<label for="exampleInputEmail1"><b>Desea visitar a ...</b></label><br>
								<i class="fas fa-lock form-control-feedback2"></i>
								<input type="hidden" name="cliente" id="idclientevisi">
								<input class="form-control" type="text" id="nomCliente" placeholder="Nombre de Cliente" readonly="disabled">
								
							</div>
							<div th:each="bean : ${session.usuario}">
							<input type="hidden" name="usuario" th:value="${bean.idUsuario}" id="idusuario" readonly>
							</div>
						</div>

					</div>
					<div class="col-md-12 text-center mt-4">
						<button type="submit" id="Guardar" class="btn btn-primary"><i class="fas fa-save"></i>
							Registrar</button>
						<button type="button" id="btn-cerrar" class="btn btn-danger" data-dismiss="modal"><i
								class="fas fa-undo-alt"></i> Cancelar</button>
					</div>
				</form>
			</div>
		</div>
	</article>
	<div class="modal fade" id="modalEditarvisita" data-backdrop="static" data-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Registrar Visitante</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form name="test2" method="post" th:action="@{/rest/controlvisita/registrarvisitante}">
						<input type="hidden" value="0" name="codigo" id="idCodigo">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputEmail4">Departamento</label><br>
								<i class="fas fa-building form-control-feedback2"></i>
								<select class="form-control" name="departamento" id="idDepartamento">
									<option value="-1">[Seleccione un Tipo de Departamento]</option>
									<option th:each="bean:${comboDepartamento}" th:value="${bean.idDepartamento}"
										th:text="${bean.nroDepartamento}"></option>
								</select>
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Nombre</label><br>
								<i class="fas fa-file-signature form-control-feedback2"></i>	
								<input type="text" class="form-control" name="Nombres" id="idNombre" placeholder="Ingrese un Nombre">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="inputEmail4">Apellido</label><br>
								<i class="fas fa-file-signature form-control-feedback2"></i>	
								<input type="text" class="form-control" name="Apellidos" id="idApellido" placeholder="Ingrese un Apellido">
							</div>
							<div class="form-group col-md-6">
								<label for="inputEmail4">Tipo de documento</label><br>
								<i class="fas fa-id-card form-control-feedback2"></i>
								<select class="form-control" name="idTipoDocumento" id="idTipoDocume">
									<option value="-1">[Seleccione Tipo de Documento]</option>
									<option th:each="bean:${comboTipoDocuemnto}" th:value="${bean.idTipoDocumento}"
										th:text="${bean.descripcion}"></option>
								</select>
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="">Documento</label><br>
								<i class="fas fa-id-badge form-control-feedback2"></i>
								<input type="number" class="form-control" name="Documento" id="idDocumento" placeholder="Ingrese un Documento">
							</div>
							<div class="form-group col-md-6">
								<label for="inputPassword4">Celular</label><br>
								<i class="fas fa-mobile-alt form-control-feedback2"></i>
								<input type="number" class="form-control" name="telefono" id="idTelefono" placeholder="Ingrese un Celular">
							</div>
						</div>
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="">Correo</label><br>
								<i class="fas fa-at form-control-feedback2"></i>
								<input type="email" class="form-control" name="correo" id="idCorreo" placeholder="Ingrese un Correo">
							</div>
							<div class="form-group col-md-6">
								<label for="">Cliente</label><br>
								<i class="fas fa-users form-control-feedback2"></i>
								<select class="form-control" name="clientes" id="idclie">
									<option value="-1">[Seleccione un Cliente] </option>
									<option th:each="bean:${comCliente}" th:value="${bean.idCliente}"
										th:text="${bean.nombres + ' ' + bean.apellidos}"></option>
								</select>
							</div>
						</div>

						<p th:each="bean : ${session.usuario}">
							<input type="hidden" name="usuario" id="idusuario" th:value="${bean.idUsuario}" readonly>
						</p>

						<div class="modal-footer">
							<button type="submit" class="btn btn-primary">Registrar</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<th:block th:replace="menu.html :: footer">
	</th:block>

	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje =/*[[${MENSAJE}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'success',
			title: mensaje
		});

	</script>
	<script th:inline="javascript" th:if="${existen!=null}">
		var mensaje =/*[[${existen}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'warning',
			title: mensaje
		});
	</script>
	<script>
		$(document).on("click", "#idEditar", function () {
			let dni1;
			dni1 = document.getElementById("idDocumento").value;
			$.get("buscardni?dni=" + dni1, function (data) {
				if (dni1 == "") {
					const Toast = Swal.mixin({
						toast: true,
						position: 'top-end',
						showConfirmButton: false,
						timer: 3000,
						timerProgressBar: true,
						didOpen: (toast) => {
							toast.addEventListener('mouseenter', Swal.stopTimer)
							toast.addEventListener('mouseleave', Swal.resumeTimer)
						}
					})

					Toast.fire({
						icon: 'error',
						title: 'Ingrese datos en el campo dni.'
					});

					document.getElementById("codigVisitante").value = "";
					document.getElementById("nomVisitante").value = "";
					document.getElementById("idclientevisi").value = "";
					document.getElementById("nomCliente").value = "";
				}
				else {

					$("#codigVisitante").val(data.idVisitante);
					$("#nomVisitante").val(data.nombres + ' ' + data.apellidos);
					$("#idclientevisi").val(data.cliente.idCliente);
					$("#nomCliente").val(data.cliente.nombres + ' ' + data.cliente.apellidos);

				}



			});
		});
	</script>
</body>

</html>