<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="menu.html :: head">
	<meta charset="UTF-8">
	<title>Registrar visitante</title>



</head>

<body>
	<th:block th:replace="menu.html :: header">
	</th:block>
	<section class="grid">
		<article>
			<div class="contact_form">

				<div class="formulario">
					<h1 style="text-align: center;">Registro Visitante</h1>

					<form action="" method="post">
						<input class="registro1" type="hidden" name="codigo" value="0">

						<p>
							<label for="especie"> Departamento
								<span class="obligatorio">*</span></label>
							<select class="registro1" name="departamento" id="idDepartamento">
								<option value="-1">[Seleccione un Departamento.] </option>
								<option th:each="bean:${departamento}" th:value="${bean.idDepartamento}"
									th:text="${bean.descripcion}"></option>
							</select>
						</p>
						<p>
							<label for="Nombres">Nombres
							</label>
							<input class="registro1" type="text" name="Nombres" id="idNombres" required="obligatorio"
								placeholder="Escribe tus Nombres">
						</p>
						<p>
							<label for="Apellidos">Apellidos
								<span class="obligatorio">*</span>
							</label>
							<input class="registro1" type="text" name="Apellidos" id="idApellidos"
								required="obligatorio" placeholder="Escribe tus Apellidos">
						</p>
						<div>
							<label for="rol">Tipo de Documento <span class="obligatorio">*</span></label>
							<select name="idTipoDocumento" class="registro1">
								<option value="-1">Tipo de Documento</option>
								<option th:each="bean:${rol}" th:value="${bean.idRol}" th:utext="${bean.descripcion}">
								</option>
							</select>
						</div>
						<p>
							<label for="Documento">Documento
							</label>
							<input class="registro1" type="number" name="Documento" id="idDocumento"
								required="obligatorio" placeholder="Escribe tu Documento">
						</p>
						<p>
						<p>
							<label for="Telefono">Telefono
							</label>
							<input class="registro1" type="number" name="Telefono" id="idTelefono"
								required="obligatorio" placeholder="Escribe tu Telefono">
						</p>
						<p>
							<label for="Correo">Correo
							</label>
							<input class="registro1" type="email" name="Correo" id="idCorreo" required="obligatorio"
								placeholder="Escribe tu correo">
						</p>
						<p>
						<p>
							<label for="cliente"> Cliente
								<span class="obligatorio">*</span></label>
							<select class="registro1" name="	" id="idCliente">
								<option value="-1">[Seleccione un Cliente.] </option>
								<option th:each="bean:${cliente}" th:value="${bean.idCliente}"
									th:text="${bean.descripcion}"></option>
							</select>
						</p>
						</p>

						<button class="botones1" type="submit" name="enviar_formulario" id="enviar">
							<p>Registrar</p>
						</button>

						<p class="aviso">
							<span class="obligatorio"> * </span>los campos son obligatorios.
						</p>

					</form>
				</div>
			</div>
		</article>
		<!--  <article>
     
   </article>
    <article></article> -->
		<h1 style="text-align: center;">Lista de Visitante</h1>
		<br>
		<div class="limiter">
			<div style="text-align: center;">
			</div>
			<div class="container-table100">
				<div class="wrap-table100">
					<div class="table100">
						<table>
							<thead>
								<tr class="table100-head">
									<th class="column1">Visitante</th>
									<th class="column3">Departamento</th>
									<th class="column4">Nombres</th>
									<th class="column5">Apellidos</th>
									<th class="column8">Tipo Documento</th>
									<th class="column6">Documento</th>
									<th class="column6">Telefono</th>
									<th class="column6">Correo</th>
									<th class="column8">Nombre del trabajador</th>
								</tr>
							</thead>
							<tbody>
								<tr  th:each="bean:${tabla}">
									<td class="column1" th:text="${bean.idVisitante}"></td>
									<td class="column3" th:text="${bean.departamento.nroDepartamento}"></td>
									<td class="column4" th:text="${bean.nombres}"></td>
									<td class="column5" th:text="${bean.apellidos"></td>
									<td class="column8" th:text="${bean.tipoDocumento.descripcion}"></td>
									<td class="column6" th:text="${bean.documento}"></td>
									<td class="column6" th:text="${bean.telefono}"></td>
									<td class="column6" th:text="${bean.idUsuario.nomUsuario}"></td>
								</tr>


							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>



	</section>
	</section>
	<th:block th:replace="menu.html :: footer">
	</th:block>


	<script th:inline="javascript" th:if="${MENSAJE!=null}">
		//obtener atributo MENSAJE
		var mensaje =/*[[${MENSAJE}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'success',
			title: mensaje
		})

	</script>

	<script th:inline="javascript" th:if="${existen!=null}">

		var exist =/*[[${existen}]]*/ null;
		const Toast = Swal.mixin({
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000,
			timerProgressBar: true,
			didOpen: (toast) => {
				toast.addEventListener('mouseenter', Swal.stopTimer)
				toast.addEventListener('mouseleave', Swal.resumeTimer)
			}
		})

		Toast.fire({
			icon: 'warning',
			title: exist
		})

	</script>
	<script>
		$(document).on("click", "#idEditar", function () {
			let codigo;
			codigo = $(this).parents("tr").find("td")[0].innerHTML;
			$.get("buscar?idVisitanteo=" + codigo, function (data) {
				$("#idcodigo").val(data.idUsuario);
				$("#idnombres").val(data.nombreCompleto);
				$("#idapellidos").val(data.apellidoCompleto);
				$("#idDni").val(data.dni);
				$("#idcelular").val(data.celular);
				$("#idcorreo").val(data.correo);
				//$("#idcampo").css("display", "none");
				$("#idRaza").val(data.raza);
				$("#iddescripcion").val(data.descripcionRaza);
			});
		});
	</script>

	<script>
		//btn-eliminar del modal
		$(document).on("click", ".btn-eliminar", function () {
			let cod;
			cod = $(this).parents("tr").find("td")[0].innerHTML;
			alertify.confirm("SISTEMA GESTION DE EDIFICIO", "¿Esta seguro de eliminar?",
				function () {//SIIII

				},
				function () {//NOOOO
					window.location = "eliminar?idVisitante=" + cod;
				}).set('labels', {ok: 'Cancelar', cancel: 'Eliminar'});
		})

	</script>
</body>


</html>