<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:insert="menu.html :: head">
	<meta charset="UTF-8">
	<title>Control visita</title>

</head>

<body>
	<th:block th:replace="menu.html :: header">
	</th:block>

	<section class="grid">
		<article>
			<div class="contact_form">

				<div class="formulario">

					<h1 style="text-align: center;">Registro Visita Ingreso</h1>

					<form action="" method="post">
						<input class="registro1" type="hidden" value="0">

						<div>
							<div>
								<p>
									<label for="documento" class="form-control">Documento
										<span class="obligatorio">*</span>
									</label>
									<input class="registro1" type="text" name="documento" id="idDocumento"
										placeholder="Escribe tu Dni">
									<button type="button" class="button" id="idEditar">
										Buscar
									</button>
									<!--<a type="button" class="button" th:hre>
											<h4>...</h4>
										</a>-->
									<a th:href="@{/rest/visitante/}" class="btn">
										.....
									</a>

									<!--<a id="modal-btn" th:href="@{/rest/visitante/}" class="button">
											<h4>...</h4>
										</a>-->
								</p>

								<!-- Inicio del Modal -->
								<div id="my-modal" class="modal">
									<div class="modal-content">
										<div class="modal-header">
											<span class="close">&times;</span>
											<center>
												<h2>Registro de Visitante</h2>
											</center>
										</div>
										<div class="modal-body">


											<div id="grid">
												<div class="col-md-12 right" style="margin-right: 50px;">
													<select class="form-control registro2" name="tipoDocumento"
														id="idTipodocumento" style="width: 250px;">
														<option value="-1">Tipo de Documento</option>
														<option th:each="bean:${departamento}"
															th:value="${bean.idDepartamento}"
															th:text="${bean.descripcion}"></option>
													</select>
												</div>

												<div style=" margin-left: 20px;" class="left">
													<input class="registro2 " type="number" name="Documento"
														id="idDocumento" placeholder="Documento" style="width: 230px;">
												</div>

											</div>

											<div id="grid">
												<div style="margin-left: 20px;" class="right">
													<input class="registro2 " type="text" name="Apellidos"
														id="idApellidos" placeholder="Apellidos" style="width: 300px">
												</div>
												<div style=" margin-left: 20px;" class="left">
													<input class="registro2 " type="text" name="nombre" id="idNombre"
														placeholder="Nombres" style="width: 300px">
												</div>


											</div>

											<div id="grid">
												<div class="col-md-12 right" style="margin-right: 50px;">
													<select class="form-control registro2" name="departamento"
														id="idDepartamento" style="width: 250px;">
														<option value="-1">Seleccione un Departamento</option>
														<option th:each="bean:${departamento}"
															th:value="${bean.idDepartamento}"
															th:text="${bean.descripcion}"></option>
													</select>
												</div>

												<div style=" margin-left: 20px;" class="left">
													<input class="registro2 " type="number" name="numero" id="idNombre"
														placeholder="Telefono" style="width: 300px">
												</div>

											</div>
											<div id="grid">
												<div class="col-md-12 right" style="margin-right: 50px;">
													<select class="form-control registro2" name="tipoDocumento"
														id="idTipodocumento" style="width: 250px;">
														<option value="-1">Tipo de Documento</option>
														<option th:each="bean:${departamento}"
															th:value="${bean.idDepartamento}"
															th:text="${bean.descripcion}"></option>
													</select>
												</div>

												<div style=" margin-left: 20px;" class="left">
													<input class="registro2 " type="number" name="Documento"
														id="idDocumento" placeholder="Documento" style="width: 230px;">
												</div>

											</div>

											<div id="grid">
												<div class="col-md-12 right" style="margin-right: 50px;">
													<select class="form-control registro2" name="cliente" id="idCliente"
														style="width: 250px;">
														<option value="-1">Cliente</option>
														<option th:each="bean:${departamento}"
															th:value="${bean.idDepartamento}"
															th:text="${bean.descripcion}"></option>
													</select>
												</div>

												<div style=" margin-left: 20px;" class="left">
													<input class="registro2 " type="text" name="correo" id="idCorreo"
														placeholder="Correo" style="width: 300px;">
												</div>

											</div>

										</div>

										<div class="modal-footer">
											<button class="button" type="submit button">
												Registrar Visitante
											</button>
										</div>
									</div>
								</div>
								<!-- Fin del Modal -->

							</div>
						</div>

						<p>
							<label for="visitante" class="form-control">Visitante
								<span class="obligatorio">*</span>
							</label>
							<select name="visitante" id="codigVisitante" disabled>
								<!--<option th:each="bean:${comboVisitante}" th:value="${bean.idVisitante}"
										th:text="${bean.nombres + ' ' + bean.apellidos}"></option>-->
							</select>
							<!--<input class="registro1" type="text" name="visitante" id="idVisitante"
								placeholder="Visitante" readonly="disabled"
								style="background-color: rgb(192, 192, 192); color: black;">-->
						</p>


						<p>
							<label for="horaIngreso" class="form-control">Hora de Ingreso
								<span class="obligatorio">*</span>
							</label>
							<input class="registro1" type="time" name="horaIngreso" id="minor2" readonly="readonly"
								style="background-color: rgb(192, 192, 192); color: black;" onmousemove="myFunction()">
						</p>

						<p>
							<label for="horaIngreso" class="form-control">Hora de Salida
								<span class="obligatorio">*</span>
							</label>
							<input class="registro1" type="time" name="horaIngreso" id="HoraActual">
						</p>

						<p>
							<label for="cliente" class="form-control">Cliente
								<span class="obligatorio">*</span>
							</label>
							<input class="registro1" type="text" name="cliente" id="idCliente" placeholder="Cliente"
								readonly="disabled" style="background-color: rgb(192, 192, 192); color: black;">
						</p>

						<button class="botones1" type="submit" name="enviar_formulario" id="enviar">
							<p>Registrar</p>
						</button>

						<p class="aviso">
							<span class="obligatorio"> * </span>los campos son obligatorios.
						</p>




					</form>
				</div>
			</div>
		</article>


	</section>
	</section>
	<th:block th:replace="menu.html :: footer">
	</th:block>
	<script src="https://code.jquery.com/jquery-3.6.0.js"
		integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
	<script>
		$(document).on("click", "#idEditar", function () {
			let codigo;
			codigo = document.getElementById("idDocumento").value;
			$.get("/rest/controlvisita/buscardni?dni=" + codigo, function (data) {
				$.each(data, function (key, value) {
					$("#codigVisitante").append("<option value=" + key.idVisitante + ">" + value.nombres + "</option>");
				});
			});
		});
	</script>

</body>

</html>